
<!DOCTYPE html>
<html>
<head>
<title>Hair By Simply Tee</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta property="og:title" content="Simply Tee - Afro-Caribbean Hair Specialist">
<meta property="og:description" content="Peckham-based hair studio, specializing in Black/Afro-Caribbean hair for both men and women. Expert styling, natural hair care, and protective styles. Keep it simple. Keep it classy.">
<meta property="og:keywords" content="Peckham hairdresser, Afro-Caribbean hair, Black hair specialist, natural hair care, protective styles, Black hair salon South London, Afro hair stylist, Black men haircuts, Black women hairstylist, braids, twists, locs, cornrows, natural hairstyles, hairdresser Peckham, London Afro hair, Simply Tee, hair care Peckham, Black barber, South London hairstylist, natural hair South London">
<meta property="og:image" content="{{ url_for('static', filename='assets/SimplyTee-logo-black.jpg') }}">
<link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/static/assets/BigImage1.png');
  min-height: 100%;
}
</style>
</head>
<body>


{% block sidebar %}{% endblock %}




<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Menu icon to open sidebar -->
  <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>

  {% block header %}{% endblock %}
  

  {% block gallery %}{% endblock %}

  {% block about %}{% endblock %}
  

    {% block testimonials %}{% endblock %}
    
    
    {% block pricing %}{% endblock %}

    </div>
    
  <!-- End About Section -->
  </div>

  {% block contact %}{% endblock %}
    
  
  {% block footer %}{% endblock %}
  
  
<!-- END PAGE CONTENT -->
</div>

<script>
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "60%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>